* {
    margin: 0;
    padding: 0%
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: auto;
    padding: 0.2%;
}

header {
    padding: 30px 0;
}

.logo {

    margin-block: 5px;
    width: 40%;
    max-height: 200px;
    object-fit: contain;
}

.menu {

    width: 50%;
    display: flexbox;
    justify-content: center;
    margin-inline: 20px;
    margin-top: 20px;
    font-size: 20px
}

.rodapé {
   border-top: 1px solid;
   bottom: 0%;
   left: auto;
   position: fixed;
   width: 100%;
   font-weight: 700px;
   background-color: azure;  
}

.container{
    -ms-flex-direction: row;
    justify-content: center;
}
  
    /** font-size: large;
    bottom: 0%;
    text-align: center;
    background-color: cyan;
   }